<h1>Burgers</h1>

<h2>Menu</h2>

<ul>
  {{#each burger}}
  {{#unless devoured}}
  {{> burgers/burger-block devoured=false}}
  {{/unless}}
  {{/each}}
</ul>

<h2>Devoured</h2>

<ul>
  {{#each burger}}
  {{#if devoured}}
  {{> burgers/burger-block devoured=true}}
  {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>

<form class="create-burger">
  <div class="form-group">
    <input type="text" class="form-control" id="burger" name="name">
  </div>
  <button class="btn btn-danger" type="submit">I Hope you are hungry!! </button>
</form>

  <button type="submit">Add Burger </button>
</form>
